.body {
    font-family: "Roboto";
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

/* header */
.header {
    background-color: #ffffff;
}

.header-logo {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.header-logo-studio {
    color: #000000;
}

.header-portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-btn:focus,
.header-btn:hover {
    color: #2196f3;
}

.header-mail:focus,
.header-mail:hover,
.header-tel:focus,
.header-tel:hover {
    color: #2196f3;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/* button */
.button-menu {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
}
.button-menu:focus,
.button-menu:hover {
    background: #2196f3;
}
/* main */
.body{
    background: #F5F5F5;
}
.portfolio-subtitle{
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}
/*  footer*/
.footer {
    background: #2F303A;
}

.address{
font-style: normal;
}

.footer-logo {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer-logo-studio {
    color: #ffffff;
}

.footer-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}