body {
    font-family: "Roboto", sans-serif;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color: currentColor;
}
/* header */
.header{
    background-color: #ffffff;
}
.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.header-logo-studio{
    color: #000000;
}

.header-studio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-btn:focus,
.header-btn:hover {
 color: #2196f3;
}
.header-mail:focus,
.header-mail:hover,
.header-tel:focus,
.header-tel:hover {
  color: #2196f3;
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/* button */
.main-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* main */
.body {
    background: #ffffff
}
.body{ 
    font-family:"Roboto", sans-serif;
}
.main{
    background-color: #2F303A;
}
.main-title{
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.abaut-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.abaut-subtitle {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #757575;
}

.our-work-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}
.our-team {
background: #F5F4FA;
}

.our-team-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}
.our-team-members
{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team-subtitle{
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}
/*  footer*/
.footer {
    background: #2F303A;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer-logo-studio {
    color: #ffffff;
}

.address{
    font-style: normal;
}

.footer-address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-mail{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}